.gameWorld {
  position: relative;
  width: 600px;
  min-width: 600px;
  height: 600px;
  min-height: 600px;
  border: 1px solid black;

  background-image: url("./grass_background.png");
  background-repeat: repeat;
  background-size: 20%;
}
